# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
MAKESWIFT_SITE_API_KEY="cf3c407c-adfa-4560-b01f-606eb0bcfe3a"